* {
  margin: 0;
}

@font-face {
  font-family: "Norse Bold";
  src: url("fonts/Norse-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

body {
  display: flex;
  margin: 0;
}

.left {
  height: 100vh;
  width: 30vw;
}

.banner {
  font-family: "Norse Bold";
  font-size: 40px;
  display: flex;
  position: absolute; /* Position the banner absolutely within the container */
  margin-top: 100px;

  width: 30%;
  height: 13%;
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); 
  color: white;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 17px;
}

.right {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
  width: 70vw;
}

img {
  height: 100vh;
  width: auto;
}

.top {
  height: 35vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}

.top-text {
  display: flex;
  flex-direction: column;
  font-weight: bold;

  padding: 100px 100px 20px 50px;
  height: 10vh;
}

span {
  margin: 10px;
}

.middle {
  height: 30vh;
  box-shadow: 0px 5px 10px rgb(194, 184, 184); /* Adjust the values as needed */
}

.bottom {
  height: 35vh;
}

.bottom-text {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 13vh;
  width: 20vw;
  margin-top: 40px;
  margin-left: 50px;
}

.create {
  background-color: darkolivegreen;
  border-radius: 7px;
  width: 200px;
  height: 45px;
  border-style: none;
  color: white;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgb(194, 184, 184); /* Adjust the values as needed */
}
.create:active {
  transform: scale(0.99);
}

.log-in {
  background: none;
  border: none;
  font-size: 17px;
  color: darkolivegreen;
  font-weight: bold;
  cursor: pointer;
}



form {
  margin: 15px 200px 15px 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.test {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
}

label {
  color: grey;
  font-size: 10px;
  margin-bottom: 5px;
}

input {
  width: 100%; /* Ensure input elements take the full width of their container */
  height: 20px;
  border-style: solid;
  border-color: lightgrey;
  border-radius: 2px;
}

input:focus{
  box-shadow: 0px 10px 50px rgb(194, 184, 184);
}

.form-element {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 0 10px;
  width: 45%; /* Set the width to 50% to create two columns */
}


.error {

  border-color: red;

}